.bottom {
  background: $bottom-color;
  height: 88px;
  position: relative;

  &__title {
    bottom: 0;
    color: $white;
    font-size: 13px;
    font-weight: 300;
    height: 13px;
    left: 0;
    line-height: 13px;
    margin: auto;
    opacity: .5;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
  }
}
