.comment {
  background-color: #f4f4f4;
  // display: none;

  &__title {
    color: #313131;
    font-size: 27px;
    font-weight: 700;
    line-height: 27px;
    margin-top: 55px;
    text-align: center;
    text-transform: uppercase;
  }

  &__wavy-line {
    background: url('../../public/icons/wavy-line.png') no-repeat;
    height: 6px;
    margin: 14px auto 30px;
    width: 46px;
  }

  &__wrapper {
    margin: 0 auto 66px;
    max-width: 877px;
    position: relative;
    z-index: 1;
  }

  &__img {
    max-width: 310px;
  }

  &__buttons {
    margin: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: 0;
  }

  &__btn-prev {
    background: url('../../public/icons/prev-comment.png') no-repeat;
    display: inline-block;
    height: 47px;
    transform: translateX(-25px);
    width: 30px;
  }

  &__btn-next {
    background: url('../../public/icons/next-comment.png') no-repeat right;
    display: inline-block;
    height: 47px;
    position: absolute;
    right: 0;
    transform: translateX(30px);
    width: 30px;
  }

  &__btn-stop {
    display: none;
  }
}

/*@media (max-width: 1000px) {
  .comment {
    display: none;
  }
}*/
