.main {
  background: $white url('../../public/img/main_ground.jpg') center no-repeat;
  height: 530px;
  max-width: 100%;
  padding-top: 65px;
  position: relative;
  z-index: 0;

  &::before {
    background-color: $fogging;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: .8;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &__box {
    position: relative;

    &::before {
      border: 1px solid $white;
      border-radius: 50%;
      content: '';
      display: block;
      height: 390px;
      left: 94px;
      position: absolute;
      top: 15px;
      width: 390px;
      z-index: 1;
    }
  }

  &__img {
    background: url('../../public/img/boxes.png') no-repeat;
    height: 405px;
    left: -4px;
    position: relative;
    width: 488px;
    z-index: 2;
  }

  &__title {
    color: $white;
    font-size: 41px;
    font-weight: 700;
    line-height: 42px;
    margin-bottom: 3px;
  }

  &__delivery {
    color: $white;
    font-size: 28px;
    font-weight: 400;
    line-height: 42px;
    margin-bottom: 18px;
  }

  &__form-block {
    padding-left: 17px;
  }

  &__form {
    height: 240px;
    padding: 21px 0 20px 28px;
    position: relative;
    width: 535px;
    z-index: 0;

    &::before {
      background-color: $white;
      border-radius: 3px;
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: .2;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: -1;
    }
  }

  &__form-title {
    color: $white;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 0;
  }

  &__form-bonus {
    color: $white;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 17px;
    text-transform: uppercase;
  }

  &__input {
    background-color: $white;
    border-radius: 5px;
    color: #373737;
    cursor: text;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    height: 56px;
    line-height: 14px;
    margin-bottom: 12px;
    margin-right: 6px;
    padding: 21px 0 0 19px;
    vertical-align: middle;
    width: 311px;
  }

  &__submit {
    background-color: $btn-color;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 56px;
    line-height: 15px;
    margin-bottom: 12px;
    padding: 21px 0 0 20px;
    vertical-align: middle;
    width: 161px;

    &:hover {
      background-color: lighten($btn-color, 10%);
    }
  }

  &__note {
    color: $white;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    margin-left: 19px;
  }
}
