.products {
  padding: 57px 0;

  &__title {
    @extend .component-title;
  }

  &__wavy-line {
    @extend .component-wavy-line;
  }

  &__item-title {
    color: #313131;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin-top: 20px;
    text-align: center;
  }

  &__img {
    height: 310px;
    margin: auto;

    &_1 {
      background: url('../../public/img/products/1.png') no-repeat center;
      background-size: contain;
    }

    &_2 {
      background: url('../../public/img/products/2.png') no-repeat center;
      background-size: contain;
    }

    &_3 {
      background: url('../../public/img/products/3.png') no-repeat center;
      background-size: contain;
    }

    &_4 {
      background: url('../../public/img/products/4.png') no-repeat center;
      background-size: contain;
    }
  }

  &__btn-block {
    margin: 28px auto;
    width: fit-content;
  }

  &__btn-detail {
    @extend .component-button;
    background: $white;
    border: 1px solid #373737;
    color: #373737;
    display: inline-block;
    height: 48px;
    margin-left: 12px;
    opacity: .5;

    width: 128px;

    &:hover {
      color: #373737;
      background: $white;
    }
  }

  &__btn-calc {
    @extend .component-button;
    display: inline-block;
    height: 48px;
    width: 173px;
  }
}

@media (max-width: 628px) {
  .products {
    padding: 32px 0;

    &__title {
      font-size: 22px;
      font-weight: 700;
      line-height: 22px;
    }

    &__wavy-line {
      display: none;
    }

    &__btn-detail {
      height: 45px;
      margin: 0;
      width: 119px;
    }

    &__btn-calc {
      height: 45px;
      width: 161px;
    }

    &__item-title {
      font-size: 18px;
      font-weight: 500;
      line-height: 20px;
    }

    &__img {
      height: 200px;
      width: 100%;
    }
  }
}
