.component {

  &-title {
    color: $title-text;
    font-size: 27px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
  }

  &-wavy-line {
    background: url('../../public/icons/wavy-line.png') no-repeat;
    height: 6px;
    margin: 14px auto 30px;
    width: 46px;
  }

  &-button {
    background: $btn-color;
    border: 0;
    border-radius: 5px;
    color: $white;
    cursor: pointer;
    display: block;
    font-size: 15px;
    font-weight: 500;
    line-height: 15px;
    outline: none;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: lighten($btn-color, 10%);
    }
  }
}
