.slider {
  height: 492px;
  // display: none;

  &__wrapper {
    margin: 0;
    position: absolute;
    right: 0;
    width: 535px;
  }

  &__buttons {
    margin-top: 15px;
  }

  &__btn-prev {
    background: url('../../public/icons/prev.png') no-repeat center;
    border: 1px solid #ff9d00;
    display: inline-block;
    height: 78px;
    width: 22px;

    &:hover {
      background: #ff9d00 url('../../public/icons/prev-hovered.png') no-repeat center;
    }
  }

  &__btn-next {
    background: url('../../public/icons/next.png') no-repeat center;
    border: 1px solid #ff9d00;
    display: inline-block;
    height: 78px;
    position: absolute;
    right: 0;
    width: 22px;

    &:hover {
      background: #ff9d00 url('../../public/icons/next-hovered.png') no-repeat center;
    }
  }

  &__btn-stop {
    display: none;
  }

  &__item {
    height: 377px;
    width: 535px;

    &_one {
      background: url('../../public/img/slides/slide-make-1.jpg') no-repeat;
      background-size: cover;
    }

    &_two {
      background: url('../../public/img/slides/slide-make-2.jpg') no-repeat;
      background-size: cover;
    }

    &_tree {
      background: url('../../public/img/slides/slide-make-3.jpg') no-repeat;
      background-size: cover;
    }

    &_four {
      background: url('../../public/img/slides/slide-make-4.jpg') no-repeat;
      background-size: cover;
    }
  }

  &__thumbnails {
    position: absolute;
    margin: auto;
    right: 27px;
    top: 392px;
  }

  &__thumb-item {
    border: 1px solid #ff9d00;
    display: inline-block;
    height: 78px;
    width: 117px;

    &::before {
      background-color: #373737;
      content: '';
      display: block;
      height: 100%;
      opacity: .85;
      width: 100%;
    }

    &_one {
      background: url('../../public/img/slides/slide-make-1.jpg') no-repeat;
      background-size: cover;
    }

    &_two {
      background: url('../../public/img/slides/slide-make-2.jpg') no-repeat;
      background-size: cover;
    }

    &_tree {
      background: url('../../public/img/slides/slide-make-3.jpg') no-repeat;
      background-size: cover;
    }

    &_four {
      background: url('../../public/img/slides/slide-make-4.jpg') no-repeat;
      background-size: cover;
    }
  }

  &__header {
    background-color: #ff9d00;
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    height: 62px;
    line-height: 17px;
    margin: 19px 0 22px;
    max-width: 404px;
    padding: 20px 0 0 28px;
    transform: translateX(-15px);
  }

  &__text {
    color: #373737;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 0 0 10px 10px;
    text-align: justify;
    width: 379px;
  }
}

.tns-nav-active {
  &::before {
    content: '';
    opacity: 0;
  }
}
